.clearfix::after { 
    content: ''; 
    display: block; 
    clear: both;
}
.wrapper{
    height: 450px;
    width: 400px;
}
.header{
    background-color: #141f40;
    height: 100px;
    width: 400px;
}
.main{
    height: 250px;
    width: 400px;
}
.left{
    background-color: #80bfa8;
    height: 250px;
    width: 150px;
    float: left;
}
.top{
    background-color: #0093b7;
    height: 100px;
    width: 250px;
    float: left;
}
.center{
    background-color: #dbd403;
    height: 150px;
    width: 100px;
    float: left;
}
.right-top{
    background-color: #ff9e6b;
    height: 50px;
    width: 150px;
    float: left;
}
.right-bottom{
    background-color: #8c2727;
    height: 100px;
    width: 150px;
    float: left;
}
.footer{
    background-color: #d98d30;
    height: 100px;
    width: 400px;
}